h1 {
    float: left;
    margin-left: 10%;
}

p {
    font-size: medium;
}

#name {
    margin-left: 10%;
    color: white;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

#locationImage {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#guide {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 60%;
    opacity: 0.875;
}

#Information {
    z-index: +1;
    position: absolute;
    top: 15%;
    left: 45%;
    height: 26.5%;
    width: 30%;
    overflow-x: hidden;
    overflow-y: auto;
}

#img-coin {
    width: 40px;
    height: 27.5px;
    vertical-align: middle;
}

#coin-found {
    font-size: large;
}

#returntomap {
    background-color: rgba(255, 249, 240, 0.8);
    text-align: center;
    margin: 5px;
    padding: 2px;
    border: 1px solid black;
}

#back {
    z-index: 2;
    float: right;
    margin-top: 10px;
}


